<!DOCTYPE html>
<html>

   <head>
      <title>FCC - File Metadata Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>File Metadata Microservice</h1>
         <h3>Part 5 of Free Code Camp Backend Challenges</h3>
         
        <h4>User Stories</h4>
        <ol>
          <li>I can submit a FormData object that includes a file upload.</li>
          <li>When I submit something, I will receive the file size in bytes within the JSON response.</li>
          <li>You may want to use this package: <a href="https://www.npmjs.com/package/multer">link</a></li>
        </ol>
        <h4>Example Usage:</h4>
        <ul>
          <li>Allows you to upload a file like this: <a href="https://aryanj-file-size.herokuapp.com/">FCC example link</a></li>
          <li>Work in progress: <a href="https://hodakkm-file-metadata.glitch.me/upload">link</a></li> 
        </ul>
        <h4>Free Code Camp project link</h4>
        <ul>
          <li><a href="https://www.freecodecamp.org/challenges/file-metadata-microservice">File Metadata Microservice</a></li>
        </ul>
        
        
      </div>
   </body>

</html>
